/src/svg_tool_functions/__pycache__
/src/svg_tool_functions/from_filepath/__pycache__
/src/svg_tool_functions/from_text/__pycache__
/src/svg_tool_functions/from_svgpath/__pycache__
/example/output.binary.eps
/example/output.plain.svg
/example/output.svg
/example/output.vector.svg
/example/__pycache__
/example/data_system.svg
/example/data_unknowns.svg
/example/visual_linear_systems/__pycache__
